root_user: {{.RootUser}}
root_password: {{.RootPassword}}
root_socket: /kdbdata/socket/mysqld.sock
data_dir: /kdbdata/data
current_version: {{.CurrentVersion}}
update_version: {{.UpdateVersion}}
mysql_cnf_file: /kdbdata/etc/my.cnf
init_users:
  - username: _monitor_user
    password: {{.RootPassword}}
    host: localhost
    privileges: [SELECT,PROCESS]
  - username: {{.ReplUser}}
    password: {{.ReplPassword}}
    host: '%'
    privileges: [REPLICATION CLIENT, REPLICATION SLAVE]
{{if .Replications}}
replications:
{{.Replications}}
{{else}}
replications: []
{{end}}
deploy_arch: {{.DeployArch}}
mgr:
  enabled: {{.MGREnabled}}
  mode: {{.MGRMode}}
  group_name: {{.MGRGroupName}}
  local_address: {{.MGRLocalAddress}}
  seeds: {{.MGRSeeds}}
  bootstrap: {{.MGRBootstrap}}
  bootstrap_ordinal: {{.MGRBootstrapOrdinal}}
  group_port: {{.MGRGroupPort}}
backup:
  crontab:
  oss: {}
  s3: {}
parameter_report:
  enabled: {{.ParameterReportEnabled}}
  host_file: {{.ParameterReportHostFile}}
  token_file: {{.ParameterReportTokenFile}}
  catalog_file: {{.ParameterReportCatalogFile}}
  interval_seconds: {{.ParameterReportIntervalSeconds}}
  timeout_seconds: {{.ParameterReportTimeoutSeconds}}
